<div class="accordion-heading">
  <span ng-click="onHeadClick(filter)">{{filter.heading}}</span>

  <!-- Show X when filter has value to be clear or reset -->
  <span ng-show="filter.value" class="pull-right" ng-click="onXClick(filter)"> x </span>

  <!-- Hide + when filter is open or filter has value -->
  <span ng-hide="filter.open || filter.value" class="pull-right" ng-click="onHeadClick(filter)"> + </span>

  <!-- Show - when filter is open and filter has no value yet -->
  <span ng-show="filter.open && !filter.value" class="pull-right" ng-click="onHeadClick(filter)"> - </span>

</div>
