<accordion close-others="false">
  <accordion-group is-open="filters[0].expanded">
    <accordion-heading>
      <span ng-click="groupClicked(0)">{{filters[0].heading}}</span><span ng-click="clearFilter(0)">  x </span>
    </accordion-heading>
    <div ng-show="filters[0].value">{{filters[0].value.name}}</div>
    <div ng-hide="filters[0].value" class="btn-group-vertical" role="group" aria-label="">
      <button type="button" ng-click="setFilter(0, {id: 'Overlay 1', name:'Overlay 1'})"  class="btn btn-default">Overlay 1</button>
      <button type="button" ng-click="setFilter(0, {id: 'Overlay 2', name:'Overlay 2'})"  class="btn btn-default">Overlay 2</button>
      <button type="button" ng-click="setFilter(0, {id: 'Satellite ', name:'Satellite'})" class="btn btn-default">Satellite</button>
    </div>
  </accordion-group>
  <accordion-group is-open="filters[1].expanded">
    <accordion-heading>
      <span ng-click="groupClicked(1)">{{filters[1].heading}}</span><span ng-click="clearFilter(1)">  x </span>
    </accordion-heading>
    <div ng-show="filters[1].value">{{filters[1].value.address}}</div>
    <div ng-hide="filters[1].value" class="input-group">
      <input type="text" class="form-control" name="address"  id="address" placeholder="address" aria-describedby="address">
      <input type="text" class="form-control" name="radius"  id="radius" placeholder="radius" aria-describedby="radius">
      <input type="text" class="form-control" name="address"  id="state" placeholder="state" aria-describedby="state">
      <input type="text" class="form-control" name="address"  id="county" placeholder="county" aria-describedby="county">
      <input type="text" class="form-control" name="address"  id="city" placeholder="city" aria-describedby="city">
      <input type="text" class="form-control" name="address"  id="neighborhood" placeholder="neighborhood" aria-describedby="neighborhood">

    </div>
  </accordion-group>
  <accordion-group heading="POLYGON TOOL">
    <p>Coming soon...</p>
  </accordion-group>
  <accordion-group heading="SQUARE FOOTAGE">
    <p>Coming soon...</p>
  </accordion-group>
  <accordion-group heading="LOT SIZE">
    <p>Coming soon...</p>
  </accordion-group>
  <accordion-group heading="PRICE">
    <p>Coming soon...</p>
  </accordion-group>
  <accordion-group heading="$/SQFT">
    <p>Coming soon...</p>
  </accordion-group>
  <accordion-group heading="SOLD WITHIN">
    <p>Coming soon...</p>
  </accordion-group>
  <accordion-group heading="YEAR BUILD">
    <p>Coming soon...</p>
  </accordion-group>
  <accordion-group heading="STORIES">
    <p>Coming soon...</p>
  </accordion-group>
  <accordion-group heading="MORE OPTIONS">
  <p>Coming soon...</p>
</accordion-group>

</accordion>
